
<div class="containter-fluid" id="about-header">
<%= image_tag("home5.jpg", class: "img-responsive", id: "about-img") %>
	<h1>Art that matters</h1>
	<h2>About us</h2>
	<p>At Broken Lead Portraits, we strive to produce work that you WANT to show off in your home.
	Alex Thetford is an artist and web developer from London, England.
	He is avalible anytime for freelance work for either his art or dev work. </p>
</div>