

<div class="containter-fluid" id="index-header">
<%= image_tag("art3.jpg", class: "img-responsive", id: "img") %>
	<h1>Broken Lead Portraits</h1>
	<h2>Add some art to your walls</h2>
		<button type="button" class="btn btn-secondary" id="about-btn"><%= link_to "ABOUT US", static_pages_about_path %></button>
</div>
