// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-header h1 {
	font-family: 'Anton', sans-serif;
	font-size: 8em;
	text-align: center;
	padding-top: 50px;
  width: 100%;
}

#product-header h2 {
	font-family: 'Galada', sans-serif;
	font-size: 3em;
  width: 100%;
  padding-bottom: 50px;
 	text-align: center;
}
/*
#haha {
	background-image: "url(/assets/home.jpg)";
}

*/